.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {

    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next::after {
    color: orange;
    border-radius: 50%;
    padding: 15px;
    border: 1px solid;
    font-size: medium !important;
    margin-right: 20px;
}

.swiper-button-prev::after {
    color: orange;
    border-radius: 50%;
    padding: 15px;
    border: 1px solid;
    font-size: medium !important;
    margin-left: 20px;
}

.swiper-button-next:hover::after {
    color: white;
    background: darkorange;
    border: none;
}

.swiper-button-prev:hover::after {
    color: white;
    background: darkorange;
    border: none;
}

span.swiper-pagination-bullet-active {
    background: orange;
}

.img-item {
    position: relative;
    /* Чтобы .close не выходил за рамки .container */
    &:hover .close-image-icon {
        display: block !important;
        /* При навидении на div в .container показать крестик */
    }
}

.close {
    position: absolute;
    right: 0;
    /* Ставим крестик справа */
}

.bg-gray {
    background-color: #d5d5d5;
}

.avatar-text {
    font-size: 17px;
    color: #515151;
    font-weight: bold;
    position: absolute;
    width: 100%;
}

.opacity {
    &-20 {
        opacity: 0.2;
    }
}
/*---------------
class для  input
----------------*/
.form_gray {
    position: relative;

    .form-control {
        background: #f5f5f5;
        border-radius: 2px;
        outline: 0 !important;
        outline-offset: 0;
        border: none;
        height: 45px;
        font-family: "Montserrat-Regular", sans-serif;
        padding-left: 52px;
        font-size: 14px;
        color: #a8a8a8;
        letter-spacing: 0.05em;
      /*  margin-top: 5px;*/
        appearance: none;

        &:focus {
            outline: none;
            box-shadow: none;
            border: 1px solid $orange;
            color: #000;
            background: #f5f5f5;
        }
    }

  .inp_avatar {
      position: absolute;
      width: 17px;
      height: 17px;
      top: 15px;
      left: 28px;
      color: #a8a8a8;
      z-index: 10;
  }

  .inp_avatar_reg {
       position: absolute;
       width: 17px;
       height: 17px;
       top: 15px;
       left: 15px;
       color: #a8a8a8;
       z-index: 10;
  }

  .changeTypeInput {
       position: absolute;
       font-size: 18px;
       top: 15px;
       right: 15px;
       color: #a8a8a8;
       z-index: 10;
  }  

    .twitt,
    .faceb,
    .vk,
    .inst {
        position: absolute;
        top: 0px;
        left: 16px;
        height: 45px;
        width: 45px;
        font-size: 20px;
        color: #fff;
        display: block;
        text-align: center;
        line-height: 45px;
        cursor: pointer;
    }

    .twitt {
        background: #1da1f2;
    }

    .faceb {
        background: #3b5998;
    }

    .vk {
        background: #4a76a8;
    }

    .inst {
        background: #eb544b;
    }
}

/*---------------
размер фото для карточек истории
----------------*/
.card-img-top {
  max-width: 50px;
  min-width: 50px;
}


/*---------------
личная страница_Поп_ап
----------------*/
.icon_triangle {
  width: 30px;
  height: 30px;
}

.personal-title {
   font-family: "Montserrat-Bold", sans-serif;
   font-size: 25px;
}


/*---------------
class для  select
----------------*/

.form_gray_s {

    .form-control {
        background: #f5f5f5;
        border-radius: 2px;
        outline: 0 !important;
        outline-offset: 0;
        cursor: pointer;
        box-shadow: none;
        border: none;
        height: 45px;
        font-family: "Montserrat-Regular", sans-serif;
        text-align: center;
        font-size: 15px;
        color: #a8a8a8;
        letter-spacing: 0.05em;
      /*  margin-top: 5px;*/
        appearance: none;

        &:focus {
            outline: none;
            box-shadow: none;
            border: 1px solid $orange;
            color: #000;
            background: #f5f5f5;
        }
  }
  
    .circle_btn {
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
        font-size: 16px;
        height: 24px;
        width: 24px;
        border: 1px solid $orange;
        border-radius: 50%;
        line-height: 20px;
        color: $orange;
        text-align: center;
        background: transparent;
    }
}




.gray-select {
    position: relative;

    .gray-select_header {
      display: flex;
      margin-top: -5px;

        .gray-select_current {
            line-height: 45px;
        }
    }

    .gray-select_body {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        box-shadow:  0 10px 20px rgba(0,0,0,0.2);
        max-height: 165px;
        overflow-y: auto;
        z-index: 99;
        background: $white;
        display: none;
        font-size: 15px;
        color: #3e3e3e;

        .gray-select_item {
            padding: 3px 0;
            color: $gray;
        }

        .gray-select_item:hover,
        .gray-select_item:focus,
        .gray-select_item:active {
            color: $orange;
        }
    }

    .gray-select_body::-webkit-scrollbar-track
    {
        border: 1px solid transparent;
        background-color: $light_gray;
        border-radius: 0px;
    }

    .gray-select_body::-webkit-scrollbar
    {
        width: 10px;
        background-color: transparent;
        border-radius: 0px;
    }

    .gray-select_body::-webkit-scrollbar-thumb
    {
        background-color: $orange;
        border-radius: 0px; 
    } 
}

.gray-select.this-active .gray-select_body {
    display: block;   
}



/*-------------
стили шрифта в form-group
---------------*/
.form-group-text {
  font-size: 15px;
  color: #3e3e3e;
  letter-spacing: 0.07em; 
  font-family: "Montserrat-Regular", sans-serif;
}

-menu {
    border-radius: 0px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
}

/*-------------
стили выпадающего меню dropdown_header_user_menu.blade.php
--------------*/  

.personal_link {
	color: #7b7b7b;
	display: flex;
	align-items: center;
	width: 100%;
  
	.menu_avatar {
	  width: 20px;
	  height: 20px;
	}
  
	.fa-sign-out {
	  color: #7b7b7b;
	  font-size: 20px;
	}
  
	.personal_link_text {
	  display: block;
	  width: 130px;
	  font-size: 14px;
	  letter-spacing: 0.03em;
	  color: #7b7b7b;
	} 
  
	&:hover .menu_avatar,
	&:focus .menu_avatar,
	&.active .menu_avatar{
	  filter: brightness(0) saturate(100%) invert(99%) sepia(39%) saturate(0%) hue-rotate(36deg) brightness(107%) contrast(101%);
	}
   
	&:hover,
	&.active  {
	  background: rgba(235,133,44,1);
	  background: -webkit-linear-gradient(left, rgba(235,133,44,1) 0%, rgba(227,90,48,1) 100%);
	  background: -o-linear-gradient(left, rgba(235,133,44,1) 0%, rgba(227,90,48,1) 100%);
	  background: linear-gradient(to right, rgba(235,133,44,1) 0%, rgba(227,90,48,1) 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb852c', endColorstr='#e35a30', GradientType=1 ); 
	}
	
  
	&:hover .personal_link_text,
	&.active .personal_link_text {
	  color: #fff;
	}
   
	&:hover .fa-sign-out,
	&.active .fa-sign-out{
	  color: #fff;
	}
  }
 
  .menu_line {
    width: 80%;
    height: 1px;
    background: #dddddd;
    display: block;
  }


  /*-------------
  стили about_project.blade.php
  --------------*/  
  
  .about_avatar {
	width: 38px;
	height: 38px;
  }

  
/*-------------
http://qrchance-dev.local/history/show/
--------------*/ 

.heart_history {
    width: 2.2rem;
    height: 2.2rem; 
}

/*-------------
кнопка "показать ещё"
--------------*/ 

.show-more {
    font-size: 1.2rem;
    .img-show-more {
        width: 1.3rem;
    }

    &:hover .img-show-more,
    &:focus .img-show-more {
       filter: brightness(0) saturate(100%) invert(99%) sepia(39%) saturate(0%) hue-rotate(36deg) brightness(107%) contrast(101%);   
    }

    &:hover .img-black,
    &:focus .img-black {
       filter: brightness(0) saturate(100%) invert(7%) sepia(98%) saturate(2%) hue-rotate(6deg) brightness(95%) contrast(94%);
    } 
}

.img-size-history {
    width: 3.5em;
    height: 3.5em;
}

/*-------------
ыеили ../main/account/parts/pay.blade.php
--------------*/ 

.pay-img {
 width: 3rem;
 height: 3rem;
}

.left_card_text {
  font-size: 15px;
  color: $gray;
}

.left_card_text span {
  color: #515151;
  font-size: 18px;
  font-weight: bold;
}

.btn-small button {
    max-width: 200px;
}

  
/*-------------
стили карточек историй
--------------*/ 
.card-img-history {
    width: 50px;
    height: 50px;
}

.history-question {
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    font-weight: 900;

}


/*-------------
стили qrcode/show.blade.php
--------------*/ 

.bg-light-grey {
	background: $light_gray ;
}

.bg-white {
	background: $white;
}

.success-area {
	border: none;
	height: 100px;

	.text-success {
		font-size: .75rem;
	}
}

.img-message-orange {
	width: 28px;
	height: 28px;
}

.img-message-orange-big {
	width: 38px;
	height: 38px;
}

.btn-gray {
	background: #a8a8a8;
} 

.show-img-message {
	height: 20rem;
	margin-bottom: -80px;

}


/*-------------
стили выпадающего меню dropdown_header_user_menu.blade.php
--------------*/  


.personal_link {
    color: #7b7b7b;
    display: flex;
    align-items: center;
    width: 100%;
  
    .menu_avatar {
      width: 20px;
      height: 20px;
    }

    .size {
      width: 28px;
      height: 28px;
      margin-top: 3px;
      margin-bottom: 3px; 
    }
  
    .fa-sign-out {
      color: $gray;
      font-size: 18px;
    }
  
    .personal_link_text {
      display: block;
      width: 130px;
      font-size: 14px;
      letter-spacing: 0.03em;
      color: $gray;
    } 

    .m_link_text {
      display: block;
      width: 18em;
      font-size: 16px;
      letter-spacing: 0.03em;
      color: #515151;
     
    }

  
    &:hover .menu_avatar,
    &:focus .menu_avatar,
    &.active .menu_avatar{
      filter: brightness(0) saturate(100%) invert(99%) sepia(39%) saturate(0%) hue-rotate(36deg) brightness(107%) contrast(101%);
    }
   
    &:hover,
    &.active  {
      background: rgba(235,133,44,1);
      background: -webkit-linear-gradient(left, rgba(235,133,44,1) 0%, rgba(227,90,48,1) 100%);
      background: -o-linear-gradient(left, rgba(235,133,44,1) 0%, rgba(227,90,48,1) 100%);
      background: linear-gradient(to right, rgba(235,133,44,1) 0%, rgba(227,90,48,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb852c', endColorstr='#e35a30', GradientType=1 ); 
    }
    
  
    &:hover .personal_link_text,
    &.active .personal_link_text {
      color: #fff;
    }

    &:hover .m_link_text,
    &.active .m_link_text {
      color: #fff;
    }
   
    &:hover .fa-sign-out,
    &.active .fa-sign-out{
      color: #fff;
    }
  }
.menu_line {
  width: 80%;
  height: 1px;
  background: #dddddd;
  display: block;
}



/*-------------
стили аватарки страничек истории
--------------*/
.avatar-history {
	position: relative;
  } 
  
  .img-avatar-history {
	object-fit: cover;
	position: absolute;
	left: 15px;
	top: 0px;
	width: 50px;
	height: 50px;
  }
  
  .light-text {
	color: #aeaeae;
  }
  
  .img-header-orange {
	height: 23px;
	width: 23px;
  }
  
  .btn-header-circle {
   
	width: 46px;
	height: 46px;
	border-radius: 50%;
  }
  
  /*----------------
  Dropdown Language
  ----------------*/
 
  .dropdown-menu {
   box-shadow: none;
	 
	 ul li{
	   padding-left: 0px;
	 }
	 li:nth-child(2n) {
	   padding: 0 0 0 25px;
	 }
	 @media (max-width: 767.98px) {
	  border: none;  
	  width: 320px !important;
	  left: -177px;
	  height: auto;
	  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	  ul {
		margin: 0;
		padding-left: 20px;
		li {
		  padding-right: 10px;
		  padding-left: 0px;
		  width: 50%;
		  margin: 0;
		}
	  }
	}  
  }
 
 
 
 /*-------------
 стили шрифта в form-group
 ---------------*/
 .form-group-text {
	font-size: 15px;
	color: #3e3e3e;
	letter-spacing: 0.01em; 
	font-family: "Montserrat-Regular", sans-serif;
 }
 
 
 
.message-header-link {
	 width: 30px;
	 height: 30px;
	 position: relative;
 
	 .img-header-bell {
		 position: absolute;
		 width: 30px;
		 height: 30px;
		 left: 0px;
		 top: 0px;
	 }
 
	 .number-messages {
		 position: absolute;
		 width: 25px;
		 height: 25px;
		 border-radius: 50%;
		 color: white;
		 font-size: 13px; 
		 left: 16px;
		 top: -7px;
		 text-align: center;
		 padding: 8px 0;
		 font-weight: 400;
	 }  
 }
 
 
 .logo-header {
	 font-family: 'Comfortaa-Bold', sans-serif;
	 font-size: 22px; 
 }
 
 
 .logo-header-small {
	 font-family: 'Comfortaa-Bold', sans-serif;
	 font-size: 18px; 
 }
 
 
 .left_line {
   position: relative;
   
 }
 
 .left_line::after {
   position: absolute;
   top: 2px;
   left: 57px;
   width: 1px;
   height: 15px;
   content: "";
   background-color: #e6e6e6; 
 }

 
.gray-select {
    position: relative;

        .dropdown-menu {
            box-shadow:  0 10px 10px rgba(0,0,0,0.1);
            max-height: 165px;
            overflow-y: auto;
            cursor: pointer;
            min-width: 1rem;
            width: 100%;

            .list-country:hover,
            .list-country:focus,
            .list-country:active,
            .gray-select_item:hover,
            .gray-select_item:focus,
            .gray-select_item:active {
                color: $orange;
            }
        }

    .dropdown-menu::-webkit-scrollbar-track
    {
        border: 1px solid transparent;
        background-color: $light_gray;
        border-radius: 0px;
    }

    .dropdown-menu::-webkit-scrollbar
    {
        width: 10px;
        background-color: transparent;
        border-radius: 0px;
    }

    .dropdown-menu::-webkit-scrollbar-thumb
    {
        background-color: $orange;
        border-radius: 0px; 
    } 
}

.personal-info-title {
     font-family: "Montserrat-SemiBold", sans-serif;
     font-size: 18px;
     font-weight: 900;
     letter-spacing: 0.005em;
}

.about-title {
	font-family: "Montserrat-Bold", sans-serif;
	font-size: 30px;
	font-weight: 900;
	letter-spacing: 0.005em;
}


.about-title {
	font-family: "Montserrat-Bold", sans-serif;
	font-size: 30px;
	font-weight: 900;
	letter-spacing: 0.005em;
}

.close-right-btn {
   font-size: 27px;
   color: $white;
   background: transparent;		
}

.main-title {
   font-family: "Montserrat-Bold", sans-serif;
   font-size: 40px;
}

.main-mini-title {
   font-family: "Montserrat-Bold", sans-serif;
   font-size: 22px;
}

.main-group-text {
   font-family: "Montserrat-Regular", sans-serif;
   font-size: 18px;
}

.main-text-title {
   font-family: "Montserrat-Bold", sans-serif;
   font-size: 15px;
}

.main-title-logo {
	font-family: "Comfortaa-Bold", sans-serif;
   font-size: 40px;
}

.main-mini-title-logo {
   font-family: "Comfortaa-Bold", sans-serif;
   font-size: 27px;
}

.share-text {
   color: #909090;
   font-family: "Montserrat-Regular", sans-serif;
   font-size: 14px;
   
}	

.header-text-circle {
   position: relative;
   width: 30px;
   height: 30px;
   border: 1px solid $white;
   border-radius: 50%;

   .text-circle {
	   position: absolute;
	   font-size: 16px;
	   left: 8px;
	   top: 2px;
	   font-family: "Montserrat-Regular", sans-serif;
   }
}

.fa-angle-right-header {
   width: 28px;
   border-radius: 50%;
   line-height: 25px;
   border: 1px solid orange;
   color: orange;
   font-size: 18px;
}

/*=====================================*/
.pulse {
 width: 45px;
 height: 45px;
 text-align: center;
 background: #fff;
 border-radius: 50%;
 font-size: 20px;
 position: relative;
 cursor: pointer;
}

.pulse a {
 // line-height: 45px;
 color: #e78433;
 margin-left: 2px;
}

.pulse:before,
.pulse:after {
 content: '';
 display: block;
 position: absolute;
 border: 1px solid #fff;
 top: -30px;
 left: -30px;
 right: -30px;
 bottom: -30px;
 border-radius: 50%;
 opacity: 0;
 -webkit-animation: pulse 1.5s linear infinite;
 animation: pulse 1.5s linear infinite;
}

.pulse:after {
 -webkit-animation-delay: .3s;
 animation-delay: .3s;
}


/*============
визитки
===============*/


.bcard-side1__sep {
    height: 1px;
    background-color: $orange;
}

.bcard-side1-title {
    color: #171716;
    font-family: 'Gotham Pro', sans-serif;
    line-height: 1.7em;
    letter-spacing: 0.0009em;
    font-weight: 500;
   
}

.bcard-text-footer {
    font-size: 8px;
    line-height: 3em;
}

.bcard-side2-title {
    color: #171716;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 2em;
}

.bcard-side2-title1 {
    color: #171716;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.8em;
}


.bcard-side2-img {
    background-color: $light_gray; 
   
}

.bcard-side2-img img {
    width: 20px;
    height: 20px;
    min-width: 20px;
}

.bcard-side2-text {
  font-size: 10px;
  color: $gray;
  background-color: $light_gray;
  height: 30px; 
}

/*============
preloader
===============*/
.preloader-img {
  position: relative;
}

#downloadGif {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 1s all;
}

/*.done {
  opacity: 0;
  display: none;
  
}*/



.header-text-circle {
	position: relative;
	width: 30px;
	height: 30px;
	border: 1px solid $white;
	border-radius: 50%;

	.text-circle {
		position: absolute;
		font-size: 16px;
		left: 9px;
		top: 2px;
		font-family: "Montserrat-Regular", sans-serif;
    transform: rotate( -2deg);
	}
  .first {
    transform: rotate(-10deg);
  }
}

.fa-angle-right-header {
	width: 28px;
	border-radius: 50%;
	line-height: 25px;
	border: 1px solid orange;
	color: orange;
	font-size: 18px;
}

/*=============
главная страница
=============*/

.pulse {
  width: 45px;
  height: 45px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  font-size: 20px;
  position: relative;
  cursor: pointer;
  align-items: center;
}

.pulse a {
  color: #e78433;
  margin-left: 2px;
}

.pulse:before,
.pulse:after {
  content: '';
  display: block;
  position: absolute;
  border: 1px solid #fff;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: pulse 1.5s linear infinite;
  animation: pulse 1.5s linear infinite;
}

.pulse:after {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

/*===========================*/

.background_main {
    background-image:  url("/img/photo-main.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom 0px right -10px;

    @media (max-width: 767px) {
        background-image: none;
    }

    @media (max-width: 1023px) {
        background-size: 65%;
        background-position: bottom -48px right -10px;
    }
}

/*-------------
социальные кнопочки
--------------*/ 

.btn-social {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;

    .btn-social-icon {
        position: absolute;
        top: 0.6rem;
        left: 0.6rem;
        font-size: 1.3rem; 

    }

     .fa-facebook {
        left: 0.8rem;

    }

    .fa-vk {
        left: 0.4rem;
    }   
}

