.bg-orange {
    padding: 10px 15px;
    border-radius: 10px;
    background: #eb862c;
    background: -moz-linear-gradient(-45deg, #eb862c 0%, #e35930 100%);
    background: -webkit-linear-gradient(-45deg, #eb862c 0%, #e35930 100%);
    background: linear-gradient(135deg, #eb862c 0%, #e35930 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb862c', endColorstr='#e35930', GradientType=1);

    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
        color: #1a1a1a;
        background-color: #f5f5f5;

        i {
            color: #eb862c;
        }
    }

    a.nav-link {
        color: #fff;

        i {
            color: #fff;
            margin-right: 40px;
        }
    }

    &-no-gradient {
        background: #eb862c;
    }
}

.text-color__orange {
    color: $orange;
}

.modal-header {
    border-bottom: none;
}

.btn {
    border-radius: 5px;

    &-status {
        border-radius: 5px;
        border-color: #e35930;

        &:hover {
            color: #e35930;
            border-color: #e35930;
        }
    }

    &-circle {
        border-radius: 50%;
    }

    &-outline-orange {
        @extend .btn-outline-danger;
        border-color: #eb862c;
        color: #eb862c;

        &:hover {
            background: #eb862c;
            color: #fff;
            border-color: #eb862c;
        }
    }

    &.bg-orange-no-gradient {
        color: #fff;
    }
    &.bg-orange {
        color: #fff;

        &:hover {
            background: #eb862c; /* Old browsers */
            background: -moz-radial-gradient(
                center,
                ellipse cover,
                #eb862c 0%,
                #e35930 100%
            ); /* FF3.6-15 */
            background: -webkit-radial-gradient(
                center,
                ellipse cover,
                #eb862c 0%,
                #e35930 100%
            ); /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(
                ellipse at center,
                #eb862c 0%,
                #e35930 100%
            ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb862c', endColorstr='#e35930', GradientType=1); /* IE6-9 fallback on horizontal gradient */
        }
    }

    
    &-pulse {

        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            border: 1px solid white;
            top: -10%;
            right: 10%;
            bottom: -10%;
            width: 41%;
            border-radius: 50%;
            opacity: 0;
            -webkit-animation: pulse 1.5s linear infinite;
            animation: pulse 1.5s linear infinite;

            @media (max-width: 1199px) {
                right: -6%;
                width: 47%;
            }

            @media (max-width: 991px) {
                right: 55%;
                width: 21%;
            }

            @media (max-width:767px) {
                right: 40%;
                width: 27%;
            }

            @media (max-width:575px) {
                left: 112px;
                width: 97px;
            }

            @media (max-width:204px) {
                left: -22px;
                width: 101px;
                top: 23px;
            }

        }

        &:after {
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }

    }
}

.text-in-circle {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px 9px;
    font-style: normal;
    margin-right: 20px;
    font-size: 10px;
}

.fa {
    &.display-4 {
        @extend .display-4;
    }

    &.display-5 {
        @extend .display-5;
    }
}

.modal-body .video {
    width: 560px;
    height: 315px;

    display: block;
    margin: 0 auto;
    @media (max-width: 600px) {
        width: 320px;
        height: 160px;
    }
}

.category-list-two {
    list-style: none;
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-count: 2;
    height: auto;
}

.notification {
    font-size: 15px;
    background: #ff8202;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
}

.usr-id {
    padding: 3px 20px;
    border-radius: 6px;
    background: #eb862c;
    color: #ffffff;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }
    50% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }
    50% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0;
    }
}

i .badge {
    top: -7px;
    left: 10px;
    text-align: center;
    padding: 6px 0;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 0.7;
    border-radius: 15px;
    background: #eb862c;
}

i .font-size-24 {
    font: normal normal normal 24px/1 FontAwesome;
    margin-top: 10px;
}

.header {
    .avatar {
        img {
            vertical-align: middle;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .badge {
            top: 12px;
            right: 6px;
            text-align: center;
            width: 20px;
            height: 20px;
            font-size: 10px;
            line-height: 1.7;
            border-radius: 15px;
            background: #eb862c;
            color: #fff;
        }
    }
}

.text-dark {
    color: #1a1a1a;
}

.avatar {
    &__add-image {
        height: 45px;
        position: absolute;
        opacity: 0;
        width: 100%;
        bottom: 0;
        font-size: 15px;
        transition: opacity 0.1s linear;
    }
    &:hover &__add-image {
        opacity: 0.4;
    }
    .fa.fa-angle-up {
        font-size: 20px;
    }
}
.err {
    font-size: calc(30px + (73 - 30) * ((100vw - 480px) / (1024 - 480)));
    margin: 0;
    position: absolute;
    top: 65%;
    text-align: center;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    &404 {
        font-size: calc(11px + (20 - 11) * ((100vw - 480px) / (1024 - 480)));
        margin: 0;
        position: absolute;
        top: 50%;
        text-align: center;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    &500 {
        font-size: calc(11 + (20 - 11) * ((100vw - 480px) / (1024 - 480)));
        margin: 0;
        position: absolute;
        top: 75%;
        text-align: center;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}

input[type="radio"],
label {
    cursor: pointer;
}

input[type="radio"] {
    position: relative;
    height: 22px;
    width: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border: 2px solid $orange;
    }

    &:checked::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $orange;
        transform: translate(-50%, -50%);
        visibility: visible;
    }
}

a.disabled {
    pointer-events: none;
    cursor: default;
}
