// Body
$body-bg: #f8fafc;

// Typography

@font-face {
	font-family: Comfortaa-Bold;
	src: url('../fonts/comfortaa/Comfortaa-Bold.ttf'); /* Safari, Android, iOS */     
  }
  @font-face {
	font-family: Montserrat-Regular;
	src: url('../fonts/montserrat/Montserrat-Regular.ttf'); /* Safari, Android, iOS */     
  }
  
  @font-face {
	font-family: Montserrat-SemiBold;
	src: url('../fonts/montserrat/Montserrat-SemiBold.ttf'); /* Safari, Android, iOS */     
  }

  @font-face {
	font-family: Montserrat-Bold;
	src: url('../fonts/montserrat/Montserrat-Bold.ttf'); /* Safari, Android, iOS */     
  }

  @font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/gothamPro/GothamPro.ttf");
  }

   @font-face {
    font-family: "Gotham Pro-Medium";
    src: url("../fonts/gothamPro/GothamPro-Medium.ttf");       
  }

  
  
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #eb862c;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light_gray: #f5f5f5;
$gray: #7b7b7b; 
$white: #ffffff;
